@import 'func';
.catalog_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F3F4;
    @include center_main();
    &__new_arrivals{
        color: $colorBrand;
        @extend %font-lato;
        font-weight: 400px;
        font-size: 24px;
        line-height: 28.8px;
    }
    &__bread_crumbs{
        @extend %font-lato;
        font-weight: 300px;
        font-size: 14px;
        line-height: 16.8px;
        &__arrivals{
            color: $colorBrand;
        }
    }
}
.top_photo{
    position: relative;
    display: flex;
    @include center_main();
    justify-content: center;
    background-color: #F7F7F7;
    &__arrows{
        @include center_main();
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        display: flex;
        &__right_arrow:hover{
            .right_arrow{fill: $colorBrand;}
        }
        &__left_arrow:hover{
            .left_arrow{fill: $colorBrand;}
        }
    }
}