@import 'vars';
@import 'catalog';
@import 'func';

* {
    margin: 0;
    padding: 0;
}



.header{
    @include center_main();
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
    &__left_container{
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;
        align-items: flex-end;
        gap: 40px;
        &__logo_img:hover {
            transform: rotateZ(-45deg);
        }
        &__find_img:hover{
            transform: scale(1.2);
        }
    }
    &__right_container{
        display: flex;
        align-items: center;
        gap: 34px;
        &__menu_img:hover {
        transform: scale(1.2);
        .menu_img_2{
            fill: $colorBrand;
            }
        }
    }
}
.top {
    display: flex;
    align-items: center;
    gap: 63px;
    @include center_second();
    background: #F1E4E6;
    &__img {
    height: 764px;
    }
    &__text_group{
        display: flex;
        gap: 16px;
        padding-right: 0;
        &__brand_text{
            color: $colorText;
            @extend %font-lato;
            font-size: 48px;
            font-weight: 900;
            line-height: 58px;
        }
        &__lux_text{
            color: $colorText;
            @extend %font-lato;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
        }
        &__fashion_text{
            color: $colorBrand;
            @extend %font-lato;
            font-size: 32px;
            font-weight: 700;
        }
    }
}
.offer > div:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.offer{
    @include center_main();
    margin-top: 65px;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: $gapItems;
    &__card{
        position: relative;
        @include center_position();
        &__text{
            @include center_position();
            position: absolute;
            @extend %font-lato;
            flex-direction: column;
            color: #FFF;
            font-size: 16px;
            font-weight: 400px;
        }
        &__bottom_text{
            font-size: 24px;
            font-weight: 700;
            color: $colorBrand;
        }
        &__img{
            filter: brightness(50%);
        }
    }
}
.features_text{
    @include center_main();
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 48px;
    &__items{
        color: $colorText;
        @extend %font-lato;
        font-size: 30px;
        font-weight: 400;
    }
    &__featured_text{
        color: #9F9F9F;
        @extend %font-lato;
        font-size: 14px;
        font-weight: 400;
    }
}
.features{
    @include center_main();
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: $gapItems;;
    
    &__card{
        display: flex;
        flex-direction: column;
        background: #F8F8F8;
        &__card_images{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__card_images:hover{
            .features__card__card_images__img{
                filter: brightness(50%);
            }
            .features__card__button{
                @include center_position();
            }
        }
        &__button{
            display: none;
            position: absolute;
            width: 139px;
            height: 44px;
            border: 1px solid #ffffff; 
            background-color: rgba(0, 0, 0, 0.0);
        }
        &__add_to_cart{
            color: #FFF;
            @extend %font-lato;
            font-size: 14px;
            font-weight: 400;
            margin-left: 11px;
        }
        &__name{
            color: #000;
            @extend %font-lato;
            font-size: 13px;
            font-weight: 400;
            padding-top: 35px;
            margin-left: 18px;
        }
        &__price{
            color: $colorBrand;
            @extend %font-lato;
            font-size: 16px;
            font-weight: 400;
            padding-top: 18px;
            margin-bottom: 20px;
            margin-left: 18px;
        }
        &__description{
            color: #5D5D5D;
            @extend %font-lato;
            font-size: 14px;
            font-weight: 300;
            padding-top: 13px;
            margin-left: 18px;
        }
    }
}
.features_button{
    @include center_main();
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 95px;
    &__button{
        width: 212px;
        height: 48px;
        color: $colorBrand;
        border: 1px solid $colorBrand;
        background: #FFF;
    }
    &__button:hover{
        color: #FFF;
        border: 1px solid #FFF;
        background: $colorBrand;
    }
}
.about{
    @include center_main();
    @include center_position();
    gap: $gapItems;
    background-color: #222;
    &__about_us{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
        gap: 20px;
        &__img{
            height: 47px;
        }
        &__text{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 16px;
            &__first{
                color: #FBFBFB;
                @extend %font-lato;
                font-size: 20px;
                font-weight: 400;
            }
            &__second{
                color: #FBFBFB;
                @extend %font-lato;
                font-size: 14px;
                font-weight: 300;
                width: 360px;
            }
        }
    }
}
.subscribe{
    display: flex;
    position: relative;
    &__background{
        opacity: 0.4;
        position:absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    &__intersect_container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        @include center_main();
        &__intersect{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gapItems;
            padding-left: 0px;
            padding-top: 97px;
            &__text{
                width: 360px;
                height: 99px;
                color: $colorText;
                text-align:center;
                @extend %font-lato;
                font-size: 20px;
                font-weight: 400;
                padding-bottom: 126px;
            }
            &__intersect_text_curve{
                color: $colorText;
                @extend %font-lato;
                font-style: italic;
                font-size: 20px;
                font-weight: 400;
            }
        }
        &__subscribe_form{
            display: flex;
            padding-top: 150px;
            padding-right: 0px;
            flex-direction: column;
            align-items: center;
            &__first{
                color: $colorText;
                @extend %font-lato;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 167%;
            }
            &__second{
                color: $colorText;
                @extend %font-lato;
                font-size: 18px;
                font-weight: 400;
                line-height: 167%;
            }
            &__text{
                display: flex;
                flex-direction: column;
                align-items: center;
                &__first{
                    color: $colorText;
                    text-align: center;
                    @extend %font-lato;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 167%;
                }
                &__second{
                    color: $colorText;
                    @extend %font-lato;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 167%;
                }
            }
            &__rectangle{
                padding-top: 32px;
                display: flex;
                &__left{
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    align-items: center;
                    &__text_mail{
                        position: absolute;
                        color: $colorText;
                        @extend %font-lato;
                        font-size: 14px;
                        font-weight: 400;
                        opacity: 0.671;
                        margin-left: 22px;
                    }
                }
                &__right{
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    &__subscribe_text{
                        color: #FFF;
                        text-align: center;
                        @extend %font-lato;
                        font-size: 14px;
                        font-weight: 400;
                        position: absolute;
                    }
                }
            }
        }
    }
}
.footer{
    display: flex;
    background-color: #222;
    justify-content: space-between;
    align-items: center;
    @include center_main();
    &__copyright{
        padding-top: 30px;
        padding-bottom: 30px;
        color: #FBFBFB;
        @extend %font-lato;
        font-size: 16px;
        font-weight: 400;
    }
    &__social{
        display: flex;
        gap: 7px;
        &__container{
            @include center_position();
            width: 32px;
            height: 32px;
            background-color: #ffffff;
        }
        &__container:hover{
            background-color: $colorBrand;
            &__img{
                fill: #ffffff;
            }
        }
    }
}
@media (width<1025px){
    @mixin center_main(){
        padding-left:calc(50% - 360px);
        padding-right:calc(50% - 360px);
    }
    @mixin center_second(){
        padding-left:calc(50% - 383px);
        padding-right:calc(50% - 383px);
    }
    .header{
        &__left_container{padding-left: 16px;}
        &__right_container{padding-right: 16px;}
    } 
    .top{
        &__img{
            width: 386px;
            height: 100%;
        }
        &__text_group{
            &__brand_text{font-size: 44px;}
            &__lux_text{font-size: 24px;}
            &__fashion_text{font-size: 24px;}
        }
    }
    .offer {
        padding-left:calc(50% - 360px);
        padding-right:calc(50% - 360px);
        display: grid;
        padding-top: 65px;
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px 116px;
        gap: 20px;
        &__card{
            &__img{width: 232px;}
            &__big_img{width: 735px;}
        }
    }
    .features_text{
        margin-top: 109px;
        gap: 6px;
    }
    .features{
        padding-left:calc(50% - 368px);
        padding-right:calc(50% - 368px);
        grid-template-columns: 360px 360px;
        gap: 16px;
        justify-content: center;
        padding-bottom: 32px;
    }
    .about{
        display: flex;
        flex-direction: column;
        padding-bottom: 64px;
        &__about_us{
            margin-top: 48px;
            margin-bottom: 0px;
            &__text{
                &__second{margin-bottom: 0px;}
            }
        }
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__background{
            content: url(./img/Layer\ 41_tablet.png);
        }
        &__intersect_container{
            display: flex;
            flex-direction: column;
            width: 100%;
            &__intersect{
                padding-left: 0px;
                padding-top: 64px;
                &__text{padding-bottom: 48px;}
            }
            &__subscribe_form{
                padding-left: 0px;
                padding-top: 0px;
                padding-bottom: 140px;
            }
        }
    }
    .footer{
        &__social{padding-right: 24px;}
        &__copyright{padding-left: 32px;}
    }
}
@media (width<768px){
    @mixin center_main(){
        padding-left:calc(50% - 172px);
        padding-right:calc(50% - 172px);
    }
    .hidden {display: none;}
    .top{
        justify-content: center;
        &__text_group{
            padding-top: 74px;
            padding-bottom: 74px;
            gap: 15px;
            &__brand_text{font-size: 38px;}
            &__lux_text{font-size: 20px;}
            &__fashion_text{font-size: 20px;}
        }
    }
    .offer{
        display: flex;
        gap: 32px;
        flex-direction: column;
        padding-top: 10px;
        margin-bottom: 0;
        &__card{
            &__img{width: 343px;}
            &__big_img{
                width: 343px;
                height: 111px;
            }
        }
    }
    .features_text{
        margin-top: 38px;
        gap: 3px;
    }
    .features {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        padding-left:calc(50% - 180px);
        padding-right:calc(50% - 180px);
    }
    .features_button{padding-bottom: 0px;}
    .about {gap: 0px;}
    .subscribe{
        &__background{
            content: url(./img/Layer\ 41_fone.png);
            &__subscribe_form{
                padding-bottom: 60px;
            }
        }
    }
    .footer {
        flex-direction: column;
        &__copyright{
            order: 2;
            padding-left: 0px;
            padding-bottom: 9px;
        }
        &__social{
            padding-right: 0px;
            padding-top: 43px;
        }
    }
}
        
    



