* {
  margin: 0;
  padding: 0;
}

.footer__copyright, .subscribe__intersect_container__subscribe_form__rectangle__right__subscribe_text, .subscribe__intersect_container__subscribe_form__rectangle__left__text_mail, .subscribe__intersect_container__subscribe_form__text__second, .subscribe__intersect_container__subscribe_form__text__first, .subscribe__intersect_container__subscribe_form__second, .subscribe__intersect_container__subscribe_form__first, .subscribe__intersect_container__intersect__intersect_text_curve, .subscribe__intersect_container__intersect__text, .about__about_us__text__second, .about__about_us__text__first, .features__card__description, .features__card__price, .features__card__name, .features__card__add_to_cart, .features_text__featured_text, .features_text__items, .offer__card__text, .top__text_group__fashion_text, .top__text_group__lux_text, .top__text_group__brand_text {
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

.header {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  display: flex;
  justify-content: space-between;
  background-color: #222;
  align-items: center;
}
.header__left_container {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: flex-end;
  gap: 40px;
}
.header__left_container__logo_img:hover {
  transform: rotateZ(-45deg);
}
.header__left_container__find_img:hover {
  transform: scale(1.2);
}
.header__right_container {
  display: flex;
  align-items: center;
  gap: 34px;
}
.header__right_container__menu_img:hover {
  transform: scale(1.2);
}
.header__right_container__menu_img:hover .menu_img_2 {
  fill: #F16D7F;
}

.top {
  display: flex;
  align-items: center;
  gap: 63px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #F1E4E6;
}
.top__img {
  height: 764px;
}
.top__text_group {
  display: flex;
  gap: 16px;
  padding-right: 0;
}
.top__text_group__brand_text {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}
.top__text_group__lux_text {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.top__text_group__fashion_text {
  color: #F16D7F;
  font-size: 32px;
  font-weight: 700;
}

.offer > div:nth-child(4) {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.offer {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  margin-top: 65px;
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
}
.offer__card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__card__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  color: #FFF;
  font-size: 16px;
  font-weight: 400px;
}
.offer__card__bottom_text {
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
}
.offer__card__img {
  filter: brightness(50%);
}

.features_text {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 48px;
}
.features_text__items {
  color: #222;
  font-size: 30px;
  font-weight: 400;
}
.features_text__featured_text {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
}

.features {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 30px;
}
.features__card {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
}
.features__card__card_images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__card__card_images:hover .features__card__card_images__img {
  filter: brightness(50%);
}
.features__card__card_images:hover .features__card__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__card__button {
  display: none;
  position: absolute;
  width: 139px;
  height: 44px;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.features__card__add_to_cart {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  margin-left: 11px;
}
.features__card__name {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding-top: 35px;
  margin-left: 18px;
}
.features__card__price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  padding-top: 18px;
  margin-bottom: 20px;
  margin-left: 18px;
}
.features__card__description {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  padding-top: 13px;
  margin-left: 18px;
}

.features_button {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 95px;
}
.features_button__button {
  width: 212px;
  height: 48px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: #FFF;
}
.features_button__button:hover {
  color: #FFF;
  border: 1px solid #FFF;
  background: #F16D7F;
}

.about {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #222;
}
.about__about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 20px;
}
.about__about_us__img {
  height: 47px;
}
.about__about_us__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.about__about_us__text__first {
  color: #FBFBFB;
  font-size: 20px;
  font-weight: 400;
}
.about__about_us__text__second {
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 300;
  width: 360px;
}

.subscribe {
  display: flex;
  position: relative;
}
.subscribe__background {
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.subscribe__intersect_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.subscribe__intersect_container__intersect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 0px;
  padding-top: 97px;
}
.subscribe__intersect_container__intersect__text {
  width: 360px;
  height: 99px;
  color: #222;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 126px;
}
.subscribe__intersect_container__intersect__intersect_text_curve {
  color: #222;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}
.subscribe__intersect_container__subscribe_form {
  display: flex;
  padding-top: 150px;
  padding-right: 0px;
  flex-direction: column;
  align-items: center;
}
.subscribe__intersect_container__subscribe_form__first {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167%;
}
.subscribe__intersect_container__subscribe_form__second {
  color: #222;
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
}
.subscribe__intersect_container__subscribe_form__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__intersect_container__subscribe_form__text__first {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167%;
}
.subscribe__intersect_container__subscribe_form__text__second {
  color: #222;
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
}
.subscribe__intersect_container__subscribe_form__rectangle {
  padding-top: 32px;
  display: flex;
}
.subscribe__intersect_container__subscribe_form__rectangle__left {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}
.subscribe__intersect_container__subscribe_form__rectangle__left__text_mail {
  position: absolute;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.671;
  margin-left: 22px;
}
.subscribe__intersect_container__subscribe_form__rectangle__right {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subscribe__intersect_container__subscribe_form__rectangle__right__subscribe_text {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
}

.footer {
  display: flex;
  background-color: #222;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
}
.footer__social {
  display: flex;
  gap: 7px;
}
.footer__social__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}
.footer__social__container:hover {
  background-color: #F16D7F;
}
.footer__social__container:hover__img {
  fill: #ffffff;
}/*# sourceMappingURL=style.css.map */