@import 'vars';

* {
    margin: 0;
    padding: 0;
}

@mixin center_570(){
    padding-left:calc(50% - 570px);
    padding-right:calc(50% - 570px);
}
@mixin center_800(){
    padding-left:calc(50% - 800px);
    padding-right:calc(50% - 800px);
}   
@mixin center_position(){
    display: flex;
    align-items: center;
    justify-content: center;
} 
%font-lato{
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.header{
    @include center_570();
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
    &__left_container{
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;
        align-items: flex-end;
        gap: 40px;
        &__logo_img:hover {
            transform: rotateZ(-45deg);
        }
        &__find_img:hover{
            transform: scale(1.2);
        }
    }
    &__right_container{
        display: flex;
        align-items: center;
        gap: 34px;
        &__menu_img:hover {
        transform: scale(1.2);
        .menu_img_2{
            fill: $colorBrand;
            }
        }
    }
}
.top {
    display: flex;
    align-items: center;
    gap: 63px;
    @include center_800();
    background: #F1E4E6;
    &__img {
    height: 764px;
    }
    &__brand_text{
    color: $colorBrand;
    @extend %font-lato;
    font-size: 48px;
    font-weight: 900;
    }
    &__lux_text{
    color: $colorText;
    @extend %font-lato;
    font-size: 32px;
    font-weight: 700;
    }
    &__fashion_text{
    color: $colorText;
    @extend %font-lato;
    font-size: 32px;
    font-weight: 700;
    }
}
.offer > div:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.offer{
    @include center_570();
    margin-top: 65px;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: $gapItems;
    &__card{
        position: relative;
        @include center_position();
        &__text{
            @include center_position();
            position: absolute;
            @extend %font-lato;
            flex-direction: column;
            color: #FFF;
            font-size: 16px;
            font-weight: 400px;
        }
        &__bottom_text{
            font-size: 24px;
            font-weight: 700;
            color: $colorBrand;
        }
        &__img{
            filter: brightness(50%);
        }
    }
}
.features_text{
    @include center_570();
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    &__items{
        color: $colorText;
        @extend %font-lato;
        font-size: 30px;
        font-weight: 400;
    }
    &__featured_text{
        color: #9F9F9F;
        @extend %font-lato;
        font-size: 14px;
        font-weight: 400;
    }
}
        
    



